In [70]:
#import dependencies

import pandas as pd
import numpy as numpy
pd.set_option('max_colwidth', 400)

In [71]:
# read data into dataframe

wp_mentalhealth_df = pd.read_csv('Project 3 - ETL/resources/survey.csv')

wp_mentalhealth_df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [72]:
#brief summary of the dataframe

wp_mentalhealth_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [73]:
# dataframe columns

wp_mentalhealth_df.columns

Index(['Timestamp', 'Age', 'Gender', 'Country', 'state', 'self_employed',
       'family_history', 'treatment', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments'],
      dtype='object')

In [74]:
#drop unneeded columns

new_wp_mentalhealth_df = wp_mentalhealth_df.drop(['state', 'self_employed','coworkers','comments','tech_company',
                         'remote_work','supervisor','work_interfere','leave','obs_consequence'],axis=1)

In [75]:

#renaming new csv columns 

new_wp_mentalhealth_df.rename(columns = {'family_history':'Family History', 'treatment':'Treatment', 'no_employees': '# of Employees',
                           'benefits':'Benefits','care_options':'Care Options','wellness_program':'Wellness Programs',
                           'seek_help':'Help Resources','anonymity':'Anonymity', 'mental_health_consequence':'Mental Health Consequence',
                           'phys_health_consequence':'Physical Health Consequence','mental_health_interview':'Mental Health Interview',
                           'phys_health_interview':'Physical Health Interview','mental_vs_physical':'Mental v. Physical'}, inplace = True)

#saving into new csv

new_wp_mentalhealth_df.to_csv('Project 3 - ETL/resources/workplace mental health.csv')

new_wp_mentalhealth_df.head()

,Timestamp,Age,Gender,Country,Family History,Treatment,# of Employees,Benefits,Care Options,Wellness Programs,Help Resources,Anonymity,Mental Health Consequence,Physical Health Consequence,Mental Health Interview,Physical Health Interview,Mental v. Physical
0,2014-08-27 11:29:31,37,Female,United States,No,Yes,6-25,Yes,Not sure,No,Yes,Yes,No,No,No,Maybe,Yes
1,2014-08-27 11:29:37,44,M,United States,No,No,More than 1000,Don't know,No,Don't know,Don't know,Don't know,Maybe,No,No,No,Don't know
2,2014-08-27 11:29:44,32,Male,Canada,No,No,6-25,No,No,No,No,Don't know,No,No,Yes,Yes,No
3,2014-08-27 11:29:46,31,Male,United Kingdom,Yes,Yes,26-100,No,Yes,No,No,No,Yes,Yes,Maybe,Maybe,No
4,2014-08-27 11:30:22,31,Male,United States,No,No,100-500,Yes,No,Don't know,Don't know,Don't know,No,No,Yes,Yes,Don't know

In [77]:
#creating new csv for stephanie's research question

mental_health_assistance_df = new_wp_mentalhealth_df[['Benefits','Treatment', 'Care Options', 'Wellness Programs', 'Help Resources', 'Anonymity']]

mental_health_assistance_df.to_csv('Project 3 - ETL/resources/workplace assistance.csv')

mental_health_assistance_df.head()

,Benefits,Treatment,Care Options,Wellness Programs,Help Resources,Anonymity
0,Yes,Yes,Not sure,No,Yes,Yes
1,Don't know,No,No,Don't know,Don't know,Don't know
2,No,No,No,No,No,Don't know
3,No,Yes,Yes,No,No,No
4,Yes,No,No,Don't know,Don't know,Don't know

In [ ]:
#if the workplace offers mental health assistance, are employees less likely to suffer from mental health?

In [ ]:
#if the worker is anonymously protected are they more likely to seek out help from their workplace mental health assistance programs?

In [ ]:
#creating new csv for mai's research question

In [ ]:
#question

In [ ]:
#creating new csv for okechukwu research question

In [ ]:
#question